/* styles.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1dada;
  margin: 0;
}

/* Navbar */
#nav_bar {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0.5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  font-size: 15px;
  line-height: 20px;
  color: #545766;
  font-weight: bold;
}

/* Left Section */
.left {
  width: 30%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  top: 34px;
  position: relative;
}

.card-section {
  background-color: white;
  height: 270px;
  width: 250px;
}

.card {
    overflow: hidden;
}

.card a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.card a:hover {
    text-decoration: underline;
    color: rgb(27, 46, 140);
}

.card-text {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 10px;
    gap: 10px;
}

.card-text i { 
    margin-top: 13px;
    font-size: 28px;
}

.card-text p {
    font-size: 18px;
}

.card-img {
    margin: 5px 10px;
    height: 200px;
    width: 230px;
    overflow: hidden;
}

/* Center Section */
.center {
  width: 30%;
}

.reel-container {
  top: 40px;
  width: 350px;
  height: 550px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reel {
  position: relative;
  width: 100%;
  height: 100%;
}

.reel-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.reel-video.active {
  display: block;
}

.like-button {
  position: absolute;
  top: 64px;
  right: 10px;
  background: none;
  border: none;
  font-size: 33px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.like-button.active {
  color: #ff4081; /* Pink color when liked */
}

.shop {
  position: absolute;
  top: 30px;
  left: 15px;
  color: white;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.share {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

#plus-button {
  position: fixed;
  bottom: 20px;
  left: 47%;
  transform: translateX(-50%);
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#plus-button:hover {
  background-color: #ff79a1;
}

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  align-items: center;
  justify-content: center;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #fefefe;
  margin: 17% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 20%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

#create-video {
  padding: 11px 5px;
  font-size: 18px;
}

#upload-video {
  padding: 11px 5px;
  font-size: 18px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#upload-input {
  display: none;
}

/* Right Section */
.right {
  width: 30%;
}

.controls {
  position: fixed;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  gap: 220px;
  right: 35px;
}

.controls button {
  background-color: rgba(50, 49, 49, 0.203);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 25px;
  font-weight: bold;
}

.controls button:hover {
  background-color: rgba(94, 93, 93, 0.193);
}
